/* #root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 2.5rem;
  padding: 0 0.75rem 0.75rem 0.75rem;
  cursor: pointer;
}
/* .logo:hover {
  font-weight: 700;
} */

.download-resume {
  margin-right: 2.5rem;
}

.hero-content {
  display: flex;
}

.introduction {
  flex-grow: 1;
  border: 1px solid red;
  padding: 3rem;
}

.technologies {
  flex-grow: 1;
  border: 1px solid green;
  padding: 3rem;
}

.profession {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  color: maroon;
  border: 1px solid yellow;
}

.contact-links,
.action-btn {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
