:root {
  color-scheme: light dark;

  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: black;
  --text-color: rgba(255, 255, 255, 0.9);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* outline: 1px solid antiquewhite; */
}

html {
  font-size: 16px; /* Base font size */
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; /* Disable smooth scrolling */
  }
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smooth scrolling */
  }
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5; /* Base line height */
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

header {
  height: 10vh;
  min-height: fit-content;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 2px solid maroon;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.welcome {
  height: calc(100vh - 10vh);
  min-height: fit-content;
}

.personal-info {
  padding: 2rem;
}

.technologies {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border-left: 1px solid maroon; */
}

h1 {
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

.profession {
  margin: 0;
  font-size: 2.5rem;
  font-style: italic;
  color: maroon;
}

.profile-description {
  font-size: 1.25rem;
}

.text-center {
  text-align: center;
}

.links-container {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link img {
  vertical-align: middle;
}

a {
  font-size: 1.25rem;
  font-weight: 500;
  color: maroon;
  vertical-align: middle;
  margin-left: 0.25rem;
  text-decoration: underline;
}
a:hover {
  color: white;
}
a:visited {
  color: maroon;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: maroon;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: aliceblue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button > img {
  vertical-align: bottom;
  margin-right: 4px;
} */

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-group {
  display: flex;
  justify-content: space-evenly;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 1px solid white;
  border-radius: 25%;
  background-color: #222;
  color: #ddd;
  margin: 0 1rem;
}
.icon-box:hover {
  border-color: #222;
  transition: border-color 0.25s;
}
.icon-box img {
  display: block;
}
.icon-box p {
  margin: 0.5rem;
}

.projects {
  background-color: #747bff;
}

footer {
  max-height: 50vh;
  background-color: violet;
  color: #ddd;
  padding: 2rem;
}

footer p {
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* .card {
  padding: 2em;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
